@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}



::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}